﻿body {
  background: #dddded;
  color: black;
}

p {
  padding: 0;
  margin: 0;
}

tt {
  padding: 1px 2px 1px 2px;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  color: #111;
}

.func, input[type=text] {
  margin: 7px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  background: #eef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 24px 0 rgba(0, 0, 0, 0.19);
  vertical-align: center;
}

hr {
  display: none;
}

h1 {
  text-align: left;
  font-size: 23px;
  background: #fdf;
  padding: 6px;
  padding-left: 6px;
}

h2 {
  text-align: left;
  font-size: 19px;
  background: #edf;
  padding: 4px;
  padding-left: 4px;
}

.subhead {
  font-size: 26px;
  background: #cdf;
  text-align: center;
  padding: 6px;
  padding-left: 6px;
}

.code,
._code {
  text-align: left;
  font-family: Monospace, monospace;
  font-size: 16px;
  background: #e3eee3;
  margin: 5px;
  padding: 5px;
  margin-left: 0;
  margin-right: 0;
}

.code {
  padding-left: 30px;
}

._code {
  padding-left: 5px;
  padding-right: 5px;
  background: #DDE1DD;
  color: #004;
  font-size: 16.5px;
}

.details {
  text-align: left;
  font-family: Noto Sans Mono, monospace;
  /* font-family: Helvetica, sans-serif; */
  font-size: 15px;
  background: #eef;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: #000;
}

.param,
.bullet {
  padding: 3px;
}

.param {
  padding-left: 32px;
  background: rgba(227, 227, 238, 0.9);
  border: solid 3px #eef;
  border-left: 0;
  border-right: 0;
}

.bullet {
  padding-left: 85px;
  background: rgba(217, 217, 228, 0.4);
  border: solid 1px #eef;
  border-left: 0;
  border-right: 0;
  text-indent: -53px;
}

.note {
  color: #003300;
}

.warning {
  color: #330000;
}

.return {
  background: #33e2;
  padding: 3px;
}

/*
div, p { transition-duration: 0.2s; }
div:hover, p:hover { filter: brightness(90%) contrast(110%) saturate(180%) hue-rotate(16deg); border: solid 1px black; padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 8px 24px 0 rgba(0,0,0,0.19);
}*/
/*div:hover, p:hover { filter: brightness(80%) contrast(120%) brightness(105%) saturate(105%); }*/

._code {
  border-top: solid 1px pink;
  border-bottom: solid 1px red;
}

h1 {
  border-top: solid 1px red;
  border-bottom: solid 1px pink;
}

.func {
  border-left: solid 1px red;
  border-right: solid 1px red;
}

#rgnote {
  background: white;
  font-family: Helvetica;
  font-size: 16px;
  position: fixed;
  bottom: 0px;
  padding: 3px;
  width: 100%;
  left: 0;
  text-align: center;
  box-shadow: 5px 0 8px 6px rgba(0, 0, 0, 0.2), 5px 0 4px 3px rgba(255, 255, 255, 0.49);
}

input[type=text] {
  margin: 7px;
  font-size: 23px;
  background: #FFDDFF;
  padding: 6px;
  padding-left: 6px;
  border: solid 1px red;
  width: calc(100% - 14px);
  vertical-align: center;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  padding-top: 11px;
  padding-bottom: 12px;
}

input[type=text]:focus, input[type=text]:hover {
  font-weight: normal;
  text-align: left;
  text-transform: none;
  font-size: 23px;
  padding-top: 12px;
  padding-bottom: 12px;
  outline: none;
}

.ctitle {
  background: #ddf;
  padding: 12px;
  font-size: 26px;
  text-align: center;
  border-bottom: solid 1px red;
}

#dlswitch {
  background: #eef;
  border: solid 1px red;
  border-radius: 0;
  color: black;
  padding: 5px;
}

.code {
  padding-left: 36px;
}
