body {
  /* background: #222; */
  background: linear-gradient(0.25turn, #231e23, #23231e, #231e23);
  color: white;
}

p {
  padding: 0;
  margin: 0;
}

tt {
  padding: 1px 2px 1px 2px;
  margin: 0;
  background: #0003;
  color: #fff;
}

.func, input[type=text] {
  border-radius: 5px;
  margin: 14px;
  padding: 8px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  background: #faf1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 24px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  text-align: left;
  font-size: 23px;
  background: #fff1;
  padding: 6px;
  padding-left: 6px;
  vertical-align: center;
}

h2 {
  text-align: left;
  font-size: 19px;
  background: #fff1;
  padding: 4px;
  padding-left: 4px;
}

.subhead {
  font-size: 26px;
  background: #fff1;
  text-align: center;
  padding: 6px;
  padding-left: 6px;
}

.code,
._code {
  border-radius: 5px;
  text-align: left;
  font-family: Monospace, monospace;
  font-size: 16px;
  background: #fff1;
  margin: 5px;
  padding: 8px;
}

._code {
  padding-left: 5px;
  padding-right: 5px;
  background: #fff1;
  color: #ffaf;
  font-size: 16.5px;
  margin: 5px;
}

.details {
  border-radius: 5px;
  text-align: left;
  font-family: Noto Sans Mono, monospace;
  /* font-family: Helvetica, sans-serif; */
  font-size: 15px;
  background: #eef1;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  color: #fff;
}

.param, .bullet, .warning, .return, .note, .info {
  padding: 3px;
  margin: 5px;
  background: #fff1;
  border-radius: 5px;
}

.code {
  padding-left: 36px;
  color: #ffee;
}

.param {
  padding-left: 32px;
  background: #fff1;
  border-radius: 5px;
}

.bullet {
  padding-left: 85px;
  background: #fff1;
  border-radius: 5px;
  text-indent: -53px;
}

.note    { color: #bfb; }
.warning { color: #fbb; }
.return  { color: #bbf; }
.info    { color: #eef; }

hr {
  border: none;
  background: linear-gradient(0.25turn,#0000,#aaa3,#fff1,#aaa3,#0000);
  height: 1px;
  padding: 0;
  margin: 0;
}

.note, .warning, .return, .info {
  padding-left: 8px;
}

/*
div, p { transition-duration: 0.2s; }
div:hover, p:hover { filter: brightness(90%) contrast(110%) saturate(180%) hue-rotate(16deg); border: solid 1px black; padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 8px 24px 0 rgba(0,0,0,0.19);
}*/

._code, h1, h2, h3, img {
  border-radius: 5px;
  margin: 5px;
}

.func {
  border-radius: 5px;
}

#rgnote {
  background: #222;
  font-family: Helvetica;
  font-size: 16px;
  position: fixed;
  bottom: 0px;
  padding: 3px;
  width: 100%;
  left: 0;
  text-align: center;
  box-shadow: 5px 0 8px 6px rgba(0, 0, 0, 0.2), 5px 0 4px 3px rgba(10, 10, 10, 0.49);
  color: #fff;
}

input[type=text] {
  font-size: 23px;
  border-radius: 5px;
  border: none;
 /* background: #fff1; */
  background: linear-gradient(0.25turn,#eee1,#aaf2,#eee1);
  padding: 6px;
  padding-left: 6px;
  width: calc(100% - 28px);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  padding-top: 11px;
  padding-bottom: 12px;
  color: white;
  vertical-align: center;
}

._code, .details, h1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 24px 0 rgba(0, 0, 0, 0.09);
}

.ctitle {
  background: none;
  padding: 8px;
  font-size: 26px;
  margin: 0;
  text-align: center;
  box-shadow: none;
}

input[type=text]:focus, input[type=text]:hover {
  background: linear-gradient(0.25turn,#aaf2,#eee1,#eee1);
  font-weight: normal;
  text-align: left;
  text-transform: none;
  font-size: 23px;
  padding-top: 12px;
  padding-bottom: 12px;
  outline: none;
}

h1 {
  /* padding-top: 10px; */
  z-index: 13;
}

.details { z-index: 140; }
._code { z-index: 1500; }

#dlswitch {
  background: #fff1;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin-top: 10px;
}

#ccswitch {
  background: #fff1;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin-top: 40px;
}

#ddswitch {
  background: #fff1;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin-top: 70px;
}

b, .param b { font-weight: bold; }
span, ._code, .code, .param, tt { font-weight: normal; }
.param { color: #fef; }
.param b { color: #fff; }

::-webkit-scrollbar {
  width: 15px;
  background: #111;
}

::-webkit-scrollbar-track {
  background: #333; 
  background: linear-gradient(#333,#313237,#363234,#343736,#353737,#323832,#323030,#333);
  box-shadow: inset 0 0 5px #aafa;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#ba8d,#bfa38fd3,#b8a18ede,#bfaf81d5,#b3a48bda,#bcad8ed7,#bfa689d0,#ba8d);
  box-shadow: inset 0 0 5px #000e;
  border: .5px solid #432f;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ba8f; 
  border: 1px solid #000f;
  box-shadow: inset 0 0 8px #000f;
}

a {
  text-decoration: none;
  color: #eef;
}

/*
3473657
7581338
2822005
5791320
3615577
5869076
9629971
9915840
8583274
5465615
*/
